[project]
	description = Simple daemon for easy stats aggregation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mliberty
[access "refs/for/refs/*"]
	read = group user/mliberty
	push = group user/mliberty
	label-Code-Review = -2..+2 group user/mliberty
	label-Verified = -1..+1 group user/mliberty
	rebase = group user/mliberty
	removeReviewer = group user/mliberty
	submit = group user/mliberty
[access "refs/heads/*"]
	read = group user/mliberty
	create = group user/mliberty
	push = +force group user/mliberty
	pushMerge = group user/mliberty
[access "refs/tags/*"]
	push = +force group user/mliberty
	pushTag = group user/mliberty
	pushSignedTag = group user/mliberty
